.cover-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shadow {
  box-shadow: 0 60px 50px -40px rgba(0, 0, 0, 0.4);
}
.zoom-bg {
  background-size: 0 0;
  position: relative;
  overflow: hidden;
}
.zoom-bg::before {
  content: '';
  position: absolute;
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 1s;
}
.zoom-bg:hover::before {
  transform: scale(1.1);
}
.modal.bsAlert {
  z-index: 1051 !important;
}
.modal.bsAlert + .modal-backdrop.show {
  z-index: 1050 !important;
}
.keep-lf {
  white-space: pre-wrap;
}
*[class^='istte-'],
*[class*=' istte-'] {
  font-family: 'istte' !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
}
body {
  font-family: '微软雅黑', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 0.875rem;
  color: #555;
}
a {
  color: #0071c1;
}
a:hover {
  color: #0065ad;
}
.keep-nowrap {
  white-space: nowrap;
}
.nav-link:active,
.nav-link.active,
.nav-link:focus {
  outline: none;
}
.theme-color {
  color: #0071c1;
}
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.btn-primary {
  background-color: #0071c1;
  border-color: #0071c1;
}
.table-fixed {
  width: 100%;
  overflow-x: auto;
}
.table-fixed table tbody {
  display: block;
  overflow-y: hidden;
}
.table-fixed table tbody tr th:first-child,
.table-fixed table tbody tr td:first-child {
  position: sticky;
  width: 110px;
  background-color: #fff;
  display: block;
  left: 0;
}
.table-fixed table tbody tr th:first-child::before,
.table-fixed table tbody tr td:first-child::before {
  content: '';
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  height: 100px;
  z-index: -1;
}
.page-preview-mode {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(255, 131, 0, 0.8);
  z-index: 9999;
  color: #fff;
}
.page-preview-mode a {
  margin-left: 20px;
  color: #fff;
}
header .top {
  display: flex;
  align-items: center;
  height: 95px;
}
header .top .logo img {
  width: 220px;
}
header .top .search-input-group {
  width: 208px;
}
header .top .search-input-group .form-control {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right-color: transparent;
  height: 32px;
  font-size: 12px;
}
header .top .search-input-group .form-control::placeholder {
  color: #ccc;
}
header .top .search-input-group .input-group-append .btn {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: transparent;
  border-color: #ced4da;
  border-left-color: transparent;
  height: 32px;
}
header .navbar {
  background-color: #0071c1;
  padding: 0 1rem;
  height: 50px;
  z-index: 999;
}
header .navbar .navbar-toggler {
  border: none;
}
header .navbar ul.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0071c1;
}
header .navbar ul.navbar-nav .nav-item {
  width: 100%;
  flex-shrink: 1;
  text-align: center;
  line-height: 50px;
}
header .navbar ul.navbar-nav .nav-item .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
}
header .navbar ul.navbar-nav .nav-item .nav-link.dropdown-toggle::after {
  display: none;
}
header .navbar ul.navbar-nav .nav-item.active {
  background-color: #00bbff;
}
header .navbar ul.navbar-nav .nav-item .dropdown-menu .dropdown-item {
  line-height: 2em;
  font-size: 0.875rem;
}
header .navbar ul.navbar-nav .nav-item .dropdown-menu .dropdown-item.active,
header .navbar ul.navbar-nav .nav-item .dropdown-menu .dropdown-item:active {
  background-color: #0071c1;
}
.block .block-title {
  color: #0071c1;
  border-bottom: 2px solid #0071c1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.block .block-title .title {
  font-size: 1.125rem;
  background-color: #0071c1;
  color: #fff;
  padding: 5px 8px;
  margin-right: 8px;
  text-decoration: none;
  margin-bottom: 0px;
}
.block .block-title .title i,
.block .block-title .title img {
  margin-left: 12px;
}
.block .block-title .title[role='tab']:not(.active) {
  background-color: transparent;
  color: #0071c1;
}
.block .block-title .more {
  margin-left: auto;
}
.block .block-title .more a:hover {
  text-decoration: none;
}
.block.wrap-content .block-content {
  background-color: #fff;
  padding: 0 12px;
}
.yqlj-content {
  padding-top: 20px;
  padding-bottom: 70px;
}
.yqlj-content a {
  padding: 0 10px;
  margin-top: 5px;
  border-right: 1px solid #999;
  color: #999;
  float: left;
}
.yqlj-content a:last-child {
  border-right: 0px;
}
.yqlj_img {
  margin-left: 10px;
}
.article-list {
  padding: 12px 0;
  margin: 0;
  list-style: none;
}
.article-list > li {
  line-height: 36px;
  height: 36px;
}
.article-list > li > a {
  display: flex;
  flex-direction: row;
  color: inherit;
}
.article-list > li > a .leading-flag {
  width: 1.5em;
  color: #0071c1;
}
.article-list > li > a .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: auto;
}
.article-list > li > a .date {
  width: 115px;
  flex: none;
  text-align: right;
  font-size: 0.75rem;
}
.article-list > li > a:hover {
  color: #0071c1;
  text-decoration: none;
}
.article-list.bottom-border {
  border-bottom: 1px solid #d1d1d1;
}
.article-list.dash-split li {
  border-bottom: 1px dashed #d1d1d1;
}
.article-content img {
  max-width: 80%;
  margin: 0 auto;
}
.pagination .page-item .page-link {
  color: #666;
  border: 1px solid #d1d1d1;
  width: 30px;
  height: 30px;
  text-align: center;
}
.pagination .page-item.active .page-link {
  background-color: #0071c1;
  border-color: #0071c1;
  color: #fff;
}
.roadshow-card {
  display: block;
  color: inherit;
  padding: 24px 0;
  font-size: 0.75rem;
}
.roadshow-card .roadshow-card__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}
.roadshow-card .roadshow-card__logo {
  background-size: 0 0;
  position: relative;
  overflow: hidden;
}
.roadshow-card .roadshow-card__logo::before {
  content: '';
  position: absolute;
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 1s;
}
.roadshow-card .roadshow-card__logo:hover::before {
  transform: scale(1.1);
}
.roadshow-card .roadshow-card__title {
  padding: 18px 0 12px;
  font-size: 0.875rem;
  font-weight: bold;
}
.roadshow-card:hover {
  text-decoration: none;
}
.roadshow-card:hover .roadshow-card__title {
  color: #0071c1;
}
.roadshow-card:hover .roadshow-card__logo::before {
  transform: scale(1.1);
}
.no-data,
.page-error {
  text-align: center;
  padding: 80px 0;
}
.no-data img,
.page-error img {
  width: 180px;
}
section {
  padding: 50px 0 30px;
}
section.gray {
  background-color: #f4f4f4;
}
section.home-banner {
  padding: 0;
}
section.home-banner .banner-swiper {
  position: relative;
}
section.home-banner .banner-swiper .swiper-slide {
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-decoration: none;
}
section.home-banner .banner-swiper .swiper-slide img {
  width: 100%;
}
section.home-banner .banner-swiper .swiper-slide:hover {
  text-decoration: none;
}
section.home-banner .banner-swiper .swiper-slide .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.home-banner .banner-swiper .swiper-slide .container .title {
  font-size: 3.75rem;
}
section.home-banner .banner-swiper .swiper-slide .container .sub-title {
  font-size: 1.125rem;
}
section.home-banner .banner-swiper .swiper-slide .container .abstract {
  font-size: 2rem;
}
section.home-banner .banner-swiper .swiper-pagination {
  position: absolute;
  bottom: 20px;
}
section.home-banner .banner-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 65px;
  height: 4px;
  border-radius: 2px;
  opacity: 1;
  background-color: #fff;
}
section.home-banner .banner-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #0071c1;
  opacity: 1;
}
section.home-numbers .number-card {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 12px;
  text-align: center;
  color: #0071c1;
  height: 100%;
}
section.home-numbers .number-card .icon {
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
  border-radius: 50%;
  color: #0071c1;
  line-height: 24px;
}
section.home-numbers .number-card .number {
  font-size: 1.5rem;
  padding-top: 18px;
  font-weight: bold;
}
section.home-numbers .number-card .title {
  font-size: 0.75rem;
}
section.home-numbers .number-card:hover {
  color: #fff;
  background-color: #0071c1;
}
section.home-numbers .number-card:hover .icon {
  color: #fff;
}
section.home-events .swiper-container-news {
  height: 100%;
  min-height: 346px;
}
section.home-events .swiper-container-news .event-top {
  width: 100%;
  height: 100%;
  background-size: 0 0;
  position: relative;
  overflow: hidden;
}
section.home-events .swiper-container-news .event-top::before {
  content: '';
  position: absolute;
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 1s;
}
section.home-events .swiper-container-news .event-top:hover::before {
  transform: scale(1.1);
}
section.home-events .swiper-container-news .event-top .mask {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 12px;
  color: #fff;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.6);
}
section.home-events .swiper-container-news .event-top .mask .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: auto;
}
section.home-events .swiper-container-news .event-top .mask .date {
  flex: none;
  width: 90px;
  font-size: 0.75rem;
}
section.home-events .swiper-container-news .event-top .mask:hover {
  text-decoration: none;
}
section.home-events .swiper-container-news .event-top:hover::before {
  transform: scale(1.1);
}
.home-transactions .nav-transactions {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
}
.home-transactions .nav-transactions .nav-item {
  flex: auto;
  text-align: center;
}
.home-transactions .nav-transactions .nav-item .nav-link {
  background-color: #f4f4f4;
  color: inherit;
  border-radius: 0;
}
.home-transactions .nav-transactions .nav-item .nav-link i {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 12px;
}
.home-transactions .nav-transactions .nav-item .nav-link.active {
  background-color: #0071c1;
  color: #fff;
}
.home-transactions .nav-transactions .nav-item + .nav-item {
  border-left: 1px solid #fff;
}
.home-transactions .tab-content {
  padding-top: 12px;
}
.home-transactions .tab-content .table {
  font-weight: normal;
  border-bottom: 1px solid #d1d1d1;
}
.home-transactions .tab-content .table thead th {
  font-weight: normal;
  border-top: none;
  border-bottom: 1px solid #d1d1d1;
  color: #0071c1;
}
.home-transactions .tab-content .table td {
  border-top: 1px solid #d1d1d1;
  color: #555;
  vertical-align: middle;
}
.home-transactions .tab-content .feverTable-wp .table {
  margin-bottom: 0;
}
.home-transactions .tab-content .feverTable-wp .table thead tr th {
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  background-color: #0071c1;
  border: none;
  width: 20%;
}
.home-transactions .tab-content .feverTable-wp .table thead tr th:first-of-type {
  width: 60%;
}
.home-transactions .tab-content .fTbody-wp {
  height: 323px;
  overflow: hidden;
}
.home-transactions .tab-content .fTbody-wp #fTbody .primary-tt td {
  font-weight: bold;
  color: #0071c1;
  width: 20%;
}
.home-transactions .tab-content .fTbody-wp #fTbody .primary-tt td:first-of-type {
  width: 60%;
  padding-left: 0.75rem;
}
.home-transactions .tab-content .fTbody-wp #fTbody td:first-of-type {
  padding-left: 1.75rem;
}
.home-news .sub-block {
  padding: 24px 24px 0;
  background-color: #fff;
  margin-bottom: 2px;
}
.home-news .sub-block h2 {
  font-size: 0.875rem;
  margin-bottom: 0;
  color: #0071c1;
}
.home-news .sub-block strong {
  font-size: 0.875rem;
  margin-bottom: 0;
  color: #0071c1;
}
.home-news .sub-block .article-list {
  padding-top: 12px;
}
.home-news .sub-block .article-list .date {
  width: 110px;
}
.home-versions div.row-con:hover {
  cursor: pointer;
}
.home-versions div.row-con img {
  width: 100%;
}
.home-versions #newDivId {
  width: 100px;
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  top: 150px;
  left: calc(50% - 50px);
  margin: auto;
  z-index: 12;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.home-serve {
  overflow: hidden;
}
.home-serve .block-title img {
  width: 1.25rem;
  height: 1.25rem;
}
.home-serve .row-con {
  max-height: 9.375rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.home-serve .row-con .serve-card {
  width: 100%;
  height: 100%;
  max-height: 9.375rem;
  color: #0071c1;
  text-align: center;
  font-size: 1rem;
}
.home-serve .row-con .serve-card img {
  width: 100%;
  min-height: 100%;
}
.home-serve .row-con .article-list {
  width: 100%;
  padding: 0 0.9375rem !important;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  max-height: 26px;
  transition: max-height 0.5s;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}
.home-serve .row-con .article-list li {
  height: 28px !important;
  line-height: 28px !important;
  color: #fff;
}
.home-serve .row-con .article-list p {
  font-size: 1rem;
  padding: 0 0.25rem;
  margin-bottom: 0.3125rem;
  font-weight: 700;
  color: #fff;
}
.home-serve .row-con:hover {
  cursor: pointer;
}
.home-serve .row-con:hover .article-list {
  max-height: 100%;
  padding: 0.625rem 0.9375rem !important;
  overflow-y: auto;
  /* 滚动条 */
}
.home-serve .row-con:hover .article-list li a .leading-flag {
  color: #15b5ff;
}
.home-serve .row-con:hover .article-list li a:hover {
  color: #15b5ff;
}
.home-serve .row-con:hover .article-list::-webkit-scrollbar {
  width: 0px;
}
.article-card {
  color: inherit;
}
.article-card .img {
  background-size: 0 0;
  position: relative;
  overflow: hidden;
}
.article-card .img::before {
  content: '';
  position: absolute;
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 1s;
}
.article-card .img:hover::before {
  transform: scale(1.1);
}
.article-card .title {
  padding: 8px 0 4px 0;
}
.article-card .date {
  font-size: 0.75rem;
}
.article-card:hover {
  text-decoration: none;
}
section.home-banner-bottom {
  padding-bottom: 36px;
}
section.home-banner-bottom a {
  text-decoration: none;
  display: block;
}
section.home-banner-bottom a img {
  width: 100%;
}
footer section.main {
  background-color: #333;
  color: #e9e9e9;
  padding: 24px 0;
  font-size: 0.75rem;
  line-height: 1.5rem;
}
footer section.main h3 {
  font-size: 1rem;
  margin-bottom: 24px;
}
footer section.main a {
  display: block;
  color: inherit;
}
footer section.main a:hover {
  text-decoration: none;
}
footer section.main .list-one-col {
  width: 200px;
}
footer section.main .list-one-col a {
  display: block;
}
footer section.main .list-two-cols {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer section.main .list-two-cols > * {
  width: 50%;
}
footer section.main .qrcode {
  width: 80px;
  margin-left: 12px;
  margin-top: 4px;
}
footer section.main .footer-row {
  display: flex;
  justify-content: space-between;
}
footer section.main .footer-row .col1 {
  flex-grow: 1;
}
footer section.main .footer-row .col1 .wrapper {
  width: 170px;
}
footer section.main .footer-row .col2 {
  flex-grow: 2;
  position: relative;
}
footer section.main .footer-row .col2::before,
footer section.main .footer-row .col2::after {
  content: '';
  position: absolute;
}
footer section.main .footer-row .col2 .wrapper {
  margin: 0 auto;
  width: 350px;
}
footer section.main .footer-row .col2::before {
  left: 0;
}
footer section.main .footer-row .col2::after {
  right: 0;
}
footer section.main .footer-row .col3 {
  flex-grow: 1;
}
footer section.main .footer-row .col3 .wrapper {
  margin-left: auto;
}
footer section.ext {
  background-color: #000;
  color: #e9e9e9;
  font-size: 0.75rem;
  padding: 30px 0;
}
footer section.ext a {
  color: inherit;
  padding: 0 6px;
}
footer section.ext a img {
  height: 1em;
  vertical-align: baseline;
}
section.tab-banner {
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 190px;
}
section.tab-panel-section {
  padding: 0 0 60px;
  margin-top: -65px;
}
section.tab-panel-section > .container .tab-panel {
  background-color: #fff;
  min-height: 600px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
section.tab-panel-section > .container .tab-panel .tab-nav {
  font-size: 1rem;
  border-bottom: 1px solid #b3b3b3;
  line-height: 65px;
  margin: 0 40px;
  display: flex;
}
section.tab-panel-section > .container .tab-panel .tab-nav span.emphasis {
  color: #0071c1;
}
section.tab-panel-section > .container .tab-panel .tab-nav span.nav-title {
  padding-left: 0;
  padding-right: 35px;
  color: #666;
  display: inline-block;
  flex-shrink: 0;
}
section.tab-panel-section > .container .tab-panel .tab-nav a {
  padding: 0 28px;
  color: #9e9e9e;
}
section.tab-panel-section > .container .tab-panel .tab-nav a:hover,
section.tab-panel-section > .container .tab-panel .tab-nav a.active {
  text-decoration: none;
  color: #0071c1;
}
section.tab-panel-section > .container .tab-panel .tab-nav a + a {
  position: relative;
}
section.tab-panel-section > .container .tab-panel .tab-nav a + a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 25px;
  bottom: 25px;
  width: 1px;
  background-color: #666;
}
section.tab-panel-section > .container .tab-panel .tab-nav .nav-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section.tab-panel-section > .container .tab-panel .tab-header {
  font-size: 1.125rem;
  border-bottom: 1px solid #b3b3b3;
  line-height: 65px;
  height: 65px;
  margin: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section.tab-panel-section > .container .tab-panel .tab-header .tab-name {
  font-size: 1.125rem;
  margin-right: auto;
}
section.tab-panel-section > .container .tab-panel .tab-header .font-size-switch {
  font-size: 0.75rem;
}
section.tab-panel-section > .container .tab-panel .tab-header .font-size-switch button {
  border: none;
  background-color: transparent;
  outline: none;
}
section.tab-panel-section > .container .tab-panel .tab-header .font-size-switch button.btn-font-s {
  font-size: 0.75rem;
}
section.tab-panel-section > .container .tab-panel .tab-header .font-size-switch button.btn-font-m {
  font-size: 0.875rem;
}
section.tab-panel-section > .container .tab-panel .tab-header .font-size-switch button.btn-font-b {
  font-size: 1rem;
}
section.tab-panel-section > .container .tab-panel .tab-header .font-size-switch button.active {
  font-weight: bold;
  color: #0071c1;
}
section.tab-panel-section > .container .tab-panel .tab-content {
  padding: 40px;
}
section.tab-panel-section > .container .tab-panel .tab-content h1 {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 24px;
}
section.tab-panel-section > .container .service-group {
  margin: 24px 0 36px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
section.tab-panel-section > .container .service-group .service-card {
  padding: 24px 12px;
  color: #666;
  font-size: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
section.tab-panel-section > .container .service-group .service-card h2 {
  font-size: 1rem;
  color: #0071c1;
  margin: 0;
}
section.tab-panel-section > .container .service-group .service-card h2 i {
  margin-right: 12px;
}
section.tab-panel-section > .container .service-group .service-card h3 {
  font-size: 1rem;
  color: #0071c1;
  padding-bottom: 12px;
  border-bottom: 1px solid #d3d3d3;
  line-height: 1.4;
}
section.tab-panel-section > .container .service-group .service-card h3 .sub {
  color: #666;
}
section.tab-panel-section > .container .service-group .service-card ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  line-height: 2em;
}
section.tab-panel-section > .container .service-group .service-card.main {
  background-color: #0071c1;
  color: #fff;
  box-shadow: none;
}
section.tab-panel-section > .container .service-group .service-card.main h2 {
  color: #fff;
}
section.tab-panel-section > .container .service-group .service-card.main .icon-bg {
  font-size: 60px;
  margin-left: auto;
}
.article-header {
  text-align: center;
  border-bottom: 2px solid transparent;
  margin-bottom: 24px;
}
.article-header.article-tab-5 {
  border-bottom-color: #cb1d36;
}
.article-header.article-tab-7 {
  border-bottom-color: #2671bc;
}
.article-header.article-tab-8 {
  border-bottom-color: #7ad1d3;
}
.article-header h1 {
  font-size: 20px;
  text-align: center;
}
.article-header .date {
  font-size: 0.75rem;
  padding: 24px 0;
}
.services-business-article {
  border-bottom: 1px dashed #b3b3b3;
}
.services-business-article .services-business-article__title {
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  color: #0071c1;
}
.services-business-article .services-business-article__title .istte-add {
  display: none;
}
.services-business-article .services-business-article__title .istte-sub {
  display: block;
}
.services-business-article .services-business-article__title.collapsed .istte-add {
  display: block;
}
.services-business-article .services-business-article__title.collapsed .istte-sub {
  display: none;
}
.services-business-article .services-business-article__title .service-title-table-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.services-business-article .services-business-article__title .service-title-table-row div:first-child {
  width: 50px;
  flex: none;
}
.services-business-article .services-business-article__title .service-title-table-row div:nth-child(2) {
  width: 35%;
  flex: auto;
}
.services-business-article .services-business-article__title .service-title-table-row div:nth-child(3),
.services-business-article .services-business-article__title .service-title-table-row div:nth-child(4) {
  width: 30%;
  flex: none;
  text-align: center;
}
.services-business-article .services-business-article__content .wrapper {
  display: flex;
}
.services-business-article .services-business-article__content .wrapper .content {
  width: 100%;
  flex-shrink: 1;
  line-height: 2;
}
.services-business-article .services-business-article__content .wrapper .logo {
  width: 350px;
  flex-shrink: 0;
  margin-left: 24px;
}
.services-business-article .services-business-article__content .wrapper .logo img {
  width: 100%;
}
.tab-content-swiper-row .events-swiper-img .swiper-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tab-content-swiper-row .events-swiper-content-wrapper {
  background-color: #f4f4f4;
  height: 100%;
  padding: 0 24px;
}
.tab-content-swiper-row .events-swiper-content {
  height: 100%;
}
.tab-content-swiper-row .events-swiper-content .swiper-slide {
  font-size: 0.875rem;
  padding-top: 24px;
}
.tab-content-swiper-row .events-swiper-content .swiper-slide h2 {
  font-size: 1rem;
  color: #0071c1;
}
.tab-content-swiper-row .events-swiper-content .swiper-pagination {
  text-align: right;
  z-index: 9999;
}
.tab-content-swiper-row .events-swiper-content .swiper-pagination .swiper-pagination-bullet {
  background: transparent;
  opacity: 1;
  border: 1px solid #0071c1;
}
.tab-content-swiper-row .events-swiper-content .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0071c1;
}
.back-to-top {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  position: fixed;
  bottom: 80px;
  right: 10px;
  background-color: #0071c1;
  border-radius: 5px;
  cursor: pointer;
}
.to-other-link {
  width: 180px;
  height: 180px;
  position: fixed;
  bottom: 120px;
  right: 0;
  text-align: right;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px #9FADBF;
  border-radius: 10px;
  z-index: 2;
}
.to-other-link .to-link-img {
  width: 74px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #D5ECFE, #F1FAFF);
  border: 1px solid #C4DFFD;
  border-radius: 6px;
}
.to-other-link .to-link-img:hover {
  cursor: pointer;
}
.to-other-link .to-link-img:hover a {
  text-decoration: none;
}
.to-other-link .to-link-img img {
  width: 32px;
}
.to-other-link .to-link-img div.text {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #262626;
}
.QRcode-wp {
  width: 200px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  position: fixed;
  bottom: 120px;
  right: 0;
  text-align: right;
  z-index: 2;
}
.QRcode-wp .close-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../fonts/close.svg) no-repeat center;
  background-size: 100% auto;
  position: relative;
  top: 5px;
  cursor: pointer;
}
.QRcode-wp img {
  display: block;
  width: 100%;
}
html[page-name='transactions'] iframe {
  width: 100%;
  height: calc(100% - 155px);
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  /*伪元素是行内元素 正常浏览器清除浮动方法*/
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
  /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
.nav-wp {
  padding: 30px 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.nav-wp a {
  font-size: 16px;
  color: #666;
  flex: 0 0 15%;
}
.nav-wp a img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.nav-wp a.active,
.nav-wp a:hover {
  color: #0071c1;
  text-decoration: none;
}
.nav-wp a.active img,
.nav-wp a:hover img {
  filter: none;
}
.filter-wp {
  padding: 25px 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.filter-wp .filter-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}
.filter-wp .filter-top p {
  margin-bottom: 0;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
}
.filter-wp .filter-top .filter-top-con {
  margin-right: 15px;
}
.filter-wp .filter-top .filter-top-con label {
  margin-bottom: 0;
}
.filter-wp .filter-top .filter-top-con input[type='text'] {
  width: 150px;
  margin-right: 25px;
}
.filter-wp .filter-top .filter-top-con input[type='checkbox'] {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}
.filter-wp .filter-top .filter-top-con:nth-child(2),
.filter-wp .filter-top .filter-top-con:nth-child(3) {
  line-height: 27px;
}
.filter-wp .filter-con {
  padding-top: 20px;
}
.filter-wp .filter-con dl {
  line-height: 29px;
  margin-bottom: 0;
}
.filter-wp .filter-con dl dt {
  display: inline-block;
  width: 100px;
}
.filter-wp .filter-con dl dd {
  display: inline-block;
  width: calc(100% - 105px);
}
.filter-wp .filter-con dl dd a {
  padding: 0 10px;
  border-radius: 2px;
  color: #666;
  margin-right: 15px;
  margin-bottom: 7px;
}
.filter-wp .filter-con dl dd a:hover,
.filter-wp .filter-con dl dd a:active,
.filter-wp .filter-con dl dd a.active {
  color: #0071c1;
  text-decoration: none;
}
.content-wp {
  padding: 0;
}
.content-wp .content {
  background: #fff;
  list-style: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.content-wp .content .content-top {
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.content-wp .content .content-top .label {
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  padding: 0 25px;
  color: #fff;
  font-size: 16px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  left: -12px;
  background: #33579e;
}
.content-wp .content .content-top .label .angle {
  display: inline-block;
  position: absolute;
  height: 0;
  width: 0;
  border-top: solid 4px #003880;
  border-right: solid 6px #003880;
  border-bottom: solid 4px transparent;
  border-left: solid 6px transparent;
  left: 0;
  bottom: -8px;
}
.content-wp .content .content-top .content-tt {
  line-height: 60px;
  font-size: 18px;
  float: left;
  color: #333;
  max-width: 80%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-wp .content .content-top .content-btn {
  background: #33579e;
  height: 40px;
  line-height: 40px;
  float: right;
  margin: 10px;
  padding: 0 20px;
  color: #fff;
  border-radius: 2px;
  font-size: 16px;
}
.content-wp .content .content-top a {
  text-decoration: none;
}
.content-wp .content .content-top .content-tt:hover,
.content-wp .content .content-top .content-tt:active {
  color: #0071c1;
}
.content-wp .content .content-con {
  padding: 10px 20px;
  line-height: 36px;
  font-size: 14px;
  color: #666;
  display: flex;
  justify-content: space-between;
}
.content-wp .content .content-con p {
  margin-bottom: 0;
  flex: 0 0 30%;
}
.m-style {
  display: flex;
  position: relative;
  text-align: center;
  zoom: 1;
}
.m-style:before,
.m-style:after {
  content: '';
  display: table;
}
.m-style:after {
  clear: both;
  overflow: hidden;
}
.m-style span {
  float: left;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 14px;
}
.m-style .active {
  float: left;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #0071c1;
  color: #fff;
  font-size: 14px;
  border: 1px solid #0071c1;
}
.m-style a {
  float: left;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  border: 1px solid #d1d1d1;
  color: #666;
  font-size: 14px;
}
.m-style a:hover {
  color: #fff;
  background: #0071c1;
}
.m-style .next,
.m-style .prev {
  font-family: 'Simsun';
  font-size: 16px;
  font-weight: bold;
}
.now,
.count {
  padding: 0 5px;
  color: #0071c1;
}
.detail-wp {
  position: relative;
  padding: 0 30px 30px;
  margin-bottom: 30px;
  background: #fff;
}
.detail-wp .detail-nav-tt {
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.detail-wp .detail-tt-wp {
  padding: 25px 0;
}
.detail-wp .detail-tt-wp h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.detail-wp .detail-tt-wp p {
  color: #80808b;
  margin-bottom: 0;
}
.detail-wp .detail-info-wp {
  margin-bottom: 25px;
  padding: 20px;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-wp .detail-info-wp .detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail-wp .detail-info-wp .detail-info p:last-of-type {
  margin-bottom: 0;
}
.detail-wp .detail-info-wp .detail-info .emphasize-green {
  font-size: 35px;
  color: #67c23a;
}
.detail-wp .detail-abstract {
  display: flex;
  align-items: center;
  background: #f4f7ff;
  color: #33579e;
  border: 1px solid #33579e;
  height: 200px;
}
.detail-wp .detail-abstract h3 {
  flex: 0 0 80px;
  height: 200px;
  line-height: 200px;
  font-size: 18px;
  font-weight: bold;
  padding: 0 20px;
  background: #33579e;
  color: #fff;
  margin-bottom: 0;
}
.detail-wp .detail-abstract p {
  flex-wrap: wrap;
  height: 200px;
  overflow-y: auto;
  padding: 15px;
  margin-bottom: 0;
}
.detail-wp h5 {
  padding-left: 8px;
  border-left: 4px solid #33579e;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #2a2a30;
}
.detail-wp h5:not(:first-of-type) {
  margin-top: 30px;
}
.detail-wp .detail-con {
  display: flex;
}
.detail-wp .detail-con dt {
  flex: 0 0 15%;
  color: #80808b;
  font-size: 14px;
}
.detail-wp .detail-con dd {
  flex: auto;
  color: #2a2a30;
  margin-bottom: 0;
}
.detail-wp .detail-con .detail-bar {
  display: inline-block;
  margin-right: 10px;
  width: 300px;
  height: 6px;
  border-radius: 4px;
  background: #ebeef5;
}
.detail-wp .detail-con .detail-bar div {
  border-radius: 4px;
  height: 6px;
}
.detail-wp .detail-img-wp {
  position: absolute;
  top: 25px;
  right: 50px;
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.detail-wp .detail-img-wp .detail-img {
  height: 270px;
  text-align: center;
  line-height: 270px;
  font-size: 30px;
  letter-spacing: 5px;
  color: #ddd;
}
.detail-wp .detail-img-wp .detail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.detail-wp .detail-img-wp p {
  margin: 0;
  padding: 3px 0;
  background: rgba(128, 128, 139, 0.3);
  text-align: center;
}
.detail-wp #abstr h5 {
  border-left: none;
  font-size: 16px;
  padding-left: 0;
}
.detail-wp #abstr table {
  margin-bottom: 10px;
}
.detail-wp #abstr table td,
.detail-wp #abstr table th {
  padding: 0 10px;
  border: 1px solid #000;
}
.detail-wp:last-of-type {
  padding-top: 25px;
}
.red {
  color: #e02020 !important;
}
.blue {
  color: #33579e !important;
}
.tel {
  background: url(../images/tel-icon.png) no-repeat left;
  background-size: 1rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  min-width: 135px;
}
.btn-english {
  background: linear-gradient(-90deg, #34caff, #0088df);
  color: #fff;
  border-radius: 0px;
  font-size: 0.75rem;
  height: 2rem;
  text-align: center;
  border: 0;
  border-color: transparent;
  outline: none;
  border-radius: 1.375rem;
  padding: 0 1.25rem;
}
.btn-english:focus {
  border: 0;
  border-color: transparent;
  outline: none;
}
.keshang {
  padding: 0px 40px 40px !important;
}
.keshang .content {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #d1d1d1;
}
.keshang .keshang-list {
  width: 80%;
  padding: 14px 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
.keshang .keshang-list img {
  width: 90px;
  height: 90px;
}
.keshang .keshang-list .keshang-text {
  flex: 1;
  margin-left: 18px;
  font-size: 14px;
  color: #666666;
  font-family: Microsoft YaHei;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
}
.keshang .keshang-list .keshang-text .title {
  font-size: 18px;
  color: #000000;
  text-align: left;
  margin: 10px 0 13px;
  font-family: Microsoft YaHei;
  font-weight: 400;
}
.keshang .keshang-list .keshang-text .tips {
  display: flex;
  color: #666666;
}
.keshang .keshang-list .keshang-text .tips .tip-1 {
  width: 133px;
}
.keshang .keshang-list .keshang-text .tips .tip-2 {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 151px;
}
.keshang .content-btn {
  background: #33579e;
  height: 40px;
  line-height: 40px;
  float: right;
  margin: 10px;
  padding: 0 20px;
  color: #fff;
  border-radius: 2px;
  font-size: 16px;
}
.keshang a {
  text-decoration: none;
}
.keshang-detail {
  padding: 30px 40px !important;
}
.keshang-detail .keshang-list {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.keshang-detail .keshang-list img {
  width: 300px;
  height: 90px;
}
.keshang-detail .keshang-list .keshang-text .title {
  font-size: 24px;
  font-weight: bold;
  color: #555555;
}
.keshang-detail .keshang-list .keshang-text .tips {
  display: block;
}
.keshang-detail .keshang-list .keshang-text .tips .tip-2 {
  margin-left: 0px;
  overflow: initial;
  white-space: pre-wrap;
}
.keshang-detail-con .keshang-bar {
  border-left: 4px solid #33579e;
  padding-left: 8px;
  margin-bottom: 41px;
  font-size: 18px;
  font-weight: bold;
  color: #2a2a30;
}
.keshang-detail-con .keshang-detail-text {
  margin-bottom: 67px;
  font-size: 14px;
  white-space: pre-line;
}
.keshang-detail-con .keshang-detail-info {
  display: flex;
  margin-bottom: 60px;
}
.keshang-detail-con .keshang-detail-info img,
.keshang-detail-con .keshang-detail-info .no-img {
  width: 160px;
  height: 220px;
  margin-right: 32px;
}
.keshang-detail-con .keshang-detail-info .keshang-info {
  color: #2a2a30;
}
.keshang-detail-con .keshang-detail-info .keshang-info p:nth-child(1) {
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  margin-bottom: 30px;
}
.keshang-detail-con .keshang-detail-info .keshang-info p:nth-child(2) {
  font-size: 14px;
  white-space: pre-line;
}
.services-introduction table {
  border-collapse: collapse;
  margin: 1.25rem 0;
}
.services-introduction table th {
  border: none;
}
@media (max-width: 575.98px) {
  header .top .logo img {
    width: 180px;
  }
  header .top .search-input-group {
    width: 180px;
  }
  section.tab-panel-section > .container {
    padding: 0;
  }
  .article-content img {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 767.99px) {
  header .navbar {
    background-color: transparent;
  }
  header .navbar ul.navbar-nav {
    display: block;
  }
  header .navbar ul.navbar-nav .nav-item .nav-link {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  header .navbar .btn-english {
    height: auto;
    padding: 5px 0.625rem;
  }
  section.home-banner .banner-swiper .swiper-pagination {
    bottom: 5px;
  }
  section.home-banner .banner-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 30px;
    height: 2px;
  }
  section.home-events .swiper-container-news {
    min-height: auto;
  }
  footer section.main .footer-row {
    flex-wrap: wrap;
  }
  footer section.main .footer-row .col1,
  footer section.main .footer-row .col2,
  footer section.main .footer-row .col3 {
    width: 100%;
    margin-bottom: 24px;
  }
  footer section.main .footer-row .col1 .wrapper,
  footer section.main .footer-row .col2 .wrapper,
  footer section.main .footer-row .col3 .wrapper {
    margin: 0;
    width: 100%;
  }
  footer section.main .footer-row .col1 {
    order: 1;
  }
  footer section.main .footer-row .col2 {
    order: 3;
  }
  footer section.main .footer-row .col3 {
    order: 2;
  }
  footer section.main .footer-row .list-two-cols {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.99px) {
  footer section.main .footer-row .col3 .list-two-cols > * {
    width: 100%;
  }
}
